<button 
  class="toggle-settings" 
  *ngIf="isHost && canChangeSettings" 
  (click)="toggleSettings()"
  [disabled]="isUpdatingSettings"
>
  {{ showSettings ? 'Close Settings' : 'Open Settings' }}
</button>


<app-settings
  *ngIf="showSettings"
  class="settings-panel"
  [phaseThreshold]="phaseThreshold"
  [categories]="categories"
  [subcategories]="subcategories"
  [isHost]="isHost"
  (applySettings)="updateSettings($event)"
></app-settings>



<div *ngIf="!showSettings" class="room">
  
  <!-- Placeholder state (before player joins or game starts) -->
  <div *ngIf="!playerName && !gameStarted && !winner" class="game-container">
    <div class="img-container">
      <img src="https://via.placeholder.com/400?text=Waiting+for+Players" alt="Placeholder Image" class="question-image" />
    </div>
    <p class="question-caption">Waiting for players...</p>
  </div>

  <!-- Waiting to start game state -->
  <div *ngIf="playerName && !gameStarted && !winner" class="game-container">
    <div class="img-container">
      <img src="https://via.placeholder.com/400?text=Waiting+to+Start" alt="Placeholder Image" class="question-image" />
    </div>
    <p class="question-caption" *ngIf="!isHost">Waiting for the host to start the game...</p>
    <button 
    class="start-button" 
    *ngIf="isHost && !gameStarted && !winner && !secondPlaythrough" 
    (click)="startGame()" 
    [disabled]="isUpdatingSettings"
  >
    Start Game
  </button>
    </div>

  <!-- Game state -->
  <div *ngIf="gameStarted && !winner && currentQuestion" class="game-container">
    <div class="img-container">
      <img [src]="currentQuestion.image" alt="Question Image" class="question-image" />
    </div>

    <p class="question-caption" *ngIf="timeRemaining > 0">
      {{ currentQuestion.caption }}
    </p>
    <p class="question-caption" *ngIf="timeRemaining <= 0 && currentQuestion.correct">
      The correct answer is: {{ currentQuestion.correct }}
    </p>

    <div class="info-panel">
      <div class="info-item">Stake: {{ stakeRemaining }}%</div>
      <div class="info-item">Time: {{ timeRemaining > 0 ? timeRemaining + 's' : '0s' }}</div>
    </div>

    <div class="answers" [class.disabled]="timeRemaining <= 0 || answerChosen">
      <div
        *ngFor="let ans of currentQuestion.answers; let i = index"
        class="answer"
        [class.selected]="selectedAnswer === i"
        (click)="selectAnswer(i)"
      >
        {{ ans }}
      </div>
    </div>
  </div> 
  <!-- Win state -->
<!-- Win state -->
<div *ngIf="winner" class="game-container">
  <div class ="img-container">
  <img [src]="currentQuestion?.image" alt="Winner Image" class="question-image">

  <p class="question-caption">Congratulations, {{ winner }}! You are the winner!</p>

  <button 
  *ngIf="isHost && winner" 
  class="play-again" 
  (click)="playAgain()" 
>
  Play Again
</button>

</div>




</div>
  
</div>


