<div class="sidebar">
  <!-- Leaderboard Header -->
  <div class="leaderboard-header">
    Leaderboard
  </div>

  <!-- Player List (scrollable) -->
  <div class="player-list-container">
    <div class="player-list">
      <div class="player-box"
           *ngFor="let player of players"
           [class.correct]="player.correct === true && !player.eliminated"
           [class.incorrect]="player.correct === false && !player.eliminated"
           [class.eliminated]="player.eliminated">

        <div class="player-info">
          <div class="player-left">
            <img
              class="player-profile-pic"
              [src]="player.isHost
                     ? 'https://cdn-icons-png.flaticon.com/512/844/844130.png'
                     : 'https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg'"
              alt="Profile"
            />
            <div class="player-username">
              {{ player.name }}
              <span *ngIf="player.eliminated" class="skull-emoji">💀</span>
              <span *ngIf="player.isHost" class="crown-emoji">👑</span>
            </div>
          </div>

          <div class="player-right">
            <div class="score-percentage-container">
              <div class="player-bet-box">
                <span>{{ player.stake !== undefined ? player.stake + '%' : '\u00A0' }}</span>
              </div>
              <div class="player-score-box">
                <span>{{ player.score !== undefined ? player.score : '\u00A0' }}</span>
              </div>
            </div>
            <div class="player-answer-box">
              <span *ngIf="player.answer === 'Answered'">{{ player.answer }}</span>
              <span *ngIf="player.answer === 'Eliminated'">{{ player.answer }}</span>
              <span *ngIf="player.answer !== 'Answered' && player.answer !== undefined && player.answer !== 'Eliminated'">
                {{ player.answer }}
              </span>
              <span *ngIf="player.answer === undefined">{{ '\u00A0' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- System Message (fixed at bottom) -->
  <div class="system-message" *ngIf="systemMessage">
    {{ systemMessage }}
  </div>
</div>
